In [2]:
import sqlite3
import json
import pandas as pd

In [4]:
# open the db
conn = sqlite3.connect('data/db.sqlite3')
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[(u'django_migrations',), (u'sqlite_sequence',), (u'auth_group',), (u'auth_group_permissions',), (u'auth_user_groups',), (u'auth_user_user_permissions',), (u'django_admin_log',), (u'django_content_type',), (u'auth_permission',), (u'auth_user',), (u'cost_cost',), (u'django_session',), (u'item_item',), (u'revenue_revenue',)]

In [5]:
c.execute('SELECT * FROM item_item')
all_items = c.fetchall()

In [10]:
QUERY = '''SELECT item_item.id, name, category, price, price_type, unit_name, item_cost, store_use, \
    spoilage, food_prep, committee, sold, member_discount_applied, created_at FROM item_item \
        INNER JOIN cost_cost ON item_item.cost_id = cost_cost.id INNER JOIN revenue_revenue \
            ON item_item.revenue_id = revenue_revenue.id'''
c.execute(QUERY)
all_items = c.fetchall()

In [13]:
#print len(all_items)
#print all_items[0:3]
print list(map(lambda x: x[0], c.description))

['id', 'name', 'category', 'price', 'price_type', 'unit_name', 'item_cost', 'store_use', 'spoilage', 'food_prep', 'committee', 'sold', 'member_discount_applied', 'created_at']

In [14]:
def jsonize(item, keys):
    
    temp = {}
    i = 0
    for field in item:
        temp[keys[i]] = item[i]
        i += 1
    
    return temp

In [15]:
items = []
names = list(map(lambda x: x[0], c.description))

for record in all_items:
    items.append(jsonize(record, names))

In [16]:
print items[0]

{'category': None, 'unit_name': None, 'name': u'Apple', 'store_use': 10.0, 'member_discount_applied': 0.0, 'price_type': u'FI', 'price': 20.0, 'spoilage': 10.0, 'committee': 0.0, 'sold': 0.0, 'created_at': u'2016-08-29 01:15:18.696869', 'food_prep': 0.0, 'id': 1, 'item_cost': 10.0}

In [112]:
outfile = open("items.json","w")
outfile.write(json.dumps(items[1:1000]))
outfile.close()

In [275]:
items_df = pd.read_sql(QUERY, sqlite3.connect('data/db.sqlite3'))

In [276]:
import datetime, time

def midnight(date):
    try:
        d = datetime.datetime.strptime(date, "%Y-%m-%d %H:%M:%S.%f")
    except:
        d = datetime.datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
    return d.strftime("%Y-%m-%d 00:00:00")

In [277]:
import re

def trim_name(field):
    m = re.search(".*?([A-z0-9].+)", field)
    return m.group(1)

# this is hacky, figure out regex
def trim_cat(field):
    #m = re.search("(.*)?[\[]*.+", field)
    temp = field.replace(" [Cashier Code: - ]", "")
    return temp.replace(" [Cashier Code: ' ]", "")

In [278]:
items_df["new_name"] = items_df["name"].apply(trim_name)
items_df["new_cat"] = items_df["category"].apply(lambda x: trim_cat(str(x)))

In [279]:
items_df["new_date"] = items_df.created_at.apply(midnight)
items = items_df.drop(["id","created_at","name"], axis=1)

In [280]:
items_grouped = items.groupby(["new_name","new_cat","new_date"], as_index=False).aggregate({"price":"first","price_type":"first", \
    "sold":"sum", "unit_name":"first", "item_cost":"first", "store_use":"sum", "spoilage":"sum","food_prep":"sum", \
        "committee":"sum","member_discount_applied":"sum"})

In [294]:
items_grouped.to_json("items.json", orient="records")